@charset "utf-8";
/* CSS Document */
/*    以下为页脚样式*/
    footer{
        width: 100%;
        min-width: 1903px;
        height: 200px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        order: 10;
        background-color: #5FAEE0;
    }
    .foot_l{
        position: absolute;
        left:0px;
        margin: 0px 0px 0px 150px;
    }
    .foot_l>a>div{
        width: 300px;
        min-width: 300px;
        height: 50px;
        min-height: 50px;
        margin: 10px 0px;
        border-radius: 20px;
        text-align: center;
        line-height: 50px;
        background-color: #9B9696;
        transition: all 0.5s ease 0s;
}
    .foot_l>a>div:hover{
        background-color: orange;
    }
    .foot_r{
        position: relative;
        left: 800px;
        width: 200px;
        height: 200px;
        text-align: center;
        line-height: 50px;
        margin: 0px 200px 0px 0px;
    }
