		/*container设置*/
		#container{
			padding: 3% 0;
		}
		#container_main{
			position: relative;

		}
			/*search设置*/
	.search{
        width: 60%;
        height: 50px;
        position: relative;
        left: 20%;
        /*top: 10%;*/
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .search>*{
        outline: none;
    }
    .search>input{
        flex-grow: 2;
        height: 50px;
        border-radius: 40px 0 0 40px;
        border: black solid 2px;
        border-right: none;
        font-size: 30px;
        letter-spacing: 2px;
    }
    .search>input:hover{
        border: rgba(0,0,0,0.60) solid 2px;
        border-right: none;
    }
    .search>button{
        flex-grow: 1;
        height: 54px;
        border-radius: 0 40px 40px 0;
        border: black solid 2px;
        border-left: none;
        background-color:black;
        transition-duration: 0.3s;
    }
    .search>button:hover{
        cursor: pointer;
        background-color: rgba(0,0,0,0.62);
    }
	
				/*others*/
		.others{
			height: 30%;
			width: 100%;
			margin: 0.05% auto;
            background-color: whitesmoke;
		}
		.others>.recommendation{
			height: 100%;
			width: 100%;
			padding-left: 2px;
            position: relative;
            left: 20px;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
		}
		.recommendation>.game{
            flex-grow: 1;
			height: 45%;
			margin-top: 1%;
			display: inline-block;
			border:2px #47EADD;
		}
.game:hover{
    margin: 2px 2px 0 0;
}
		.game>a>img{
			width: 250px;
			height: 150px;
		}
.game>a>img:hover{
    border: orange solid 2px;
    box-shadow: 5px 5px 10px 10px black;
}
		.other>#news{
			display: inline-block;
		}