		/*container设置*/
		#container{
			height: 800px;
			padding: 3% 0;
			/*background:url(bg_flower.gif);*/
			-moz-background-size:63px 100px; /* 老版本的 Firefox */
			background-size:1000px 1000px;
			background-repeat:no-repeat;
			background-color: yellow;
			background-image: url(index_background.jpg);
			  
			 display: block;
		}
		#container_main{
			position: relative;

		}
			/*search设置*/
	.search{
        width: 60%;
        height: 5%;
        position: relative;
        left: 20%;
        /*top: 10%;*/
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .search>*{
        height: 100%;
        outline: none;
    }
    .search>input{
        flex-grow: 2;
        border-radius: 40px 0 0 40px;
        border: skyblue solid 1px;
        transition-duration: 0.5s;
    }
    .search>input:hover{
        background-color: #9F9393;
        color: white;
    }
    .search>button{
        flex-grow: 1;
        border-radius: 0 40px 40px 0;
        border: skyblue solid 1px;
        background-color: deepskyblue;
        transition-duration: 0.5s;
    }
    .search>button:hover{
        background-color: orange;
        cursor: pointer;
        color: white;
    }
	
				/*others*/
		.others{
			height: 30%;
			width: 93%;
			display: relative;
			margin: 10px auto;
			background-color: black;
		}
		.others>.recommendation{
			height: 100%;
			width: 70%;
			background-color: green;
			padding-left: 3px;
		}
		.recommendation>.game{
			width: 32%;
			height: 45%;
			margin-top: 1%;
			margin-left: 3px;
			/*background-color: red;*/
			display: inline-block;
		}
		.game>img{
			width: 100%;
			height: 100%;
		}