		/*全局设置*/
		*{
			margin: 0;
			padding: 0;
		}
		#header,#container,#footer{
			width: 100%;
		}
		.main{
			width: 60%;
			height: 100%;
			margin: 0 auto;
			background-color: white;
		}
/*		 body{
        display: flex;
        flex-flow: column nowrap;
    }	*/
		/*header设置*/
		#header{
			height: 60px;
			background-color: red;
		}
		#header_main{
			display: flex;
			justify-content: space-between;
		}
		.a{
			height: 100%;
			width: 13%;
			background-color: black;
		}
		.logo{

			height: 100%;
			width: 15%;
			background-color: black;
		}


		/*container相关*/
		#container{
			height: 800px;
			padding: 3% 0;
			background-color: yellow;
		}
		#container_main{
			position: relative;
		}
			/*search相关*/
	.search{
        width: 60%;
        height: 5%;
        position: relative;
        left: 20%;
        /*top: 10%;*/
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .search>*{
        height: 100%;
        outline: none;
    }
    .search>input{
        flex-grow: 2;
        border-radius: 40px 0 0 40px;
        border: skyblue solid 1px;
        transition-duration: 0.5s;
    }
    .search>input:hover{
        background-color: #9F9393;
    }
    .search>button{
        flex-grow: 1;
        border-radius: 0 40px 40px 0;
        border: skyblue solid 1px;
        background-color: deepskyblue;
        transition-duration: 0.5s;
    }
    .search>button:hover{
        background-color: orange;
        cursor: pointer;
    }
	
				/*others*/
		.others{
			height: 30%;
			width: 93%;
			display: relative;
			margin: 10px auto;
			background-color: black;
		}
		.others>.recommendation{
			height: 100%;
			width: 70%;
			background-color: green;
			padding-left: 3px;
		}
		.recommendation>.game{
			width: 32%;
			height: 42%;
			margin-top: 1.4%;
			margin-left: 3px;
			background-color: red;
			display: inline-block;
		}
		/*footer*/
		#footer{
			height: 150px;
			background-color: green;
		}

		
