		/*总设置*/
		*{
			margin: 0;
			padding: 0;
		}
		#header,#container,#footer{
			width: 100%;
		}
		.main{
			width: 60%;
			height: 100%;
			margin: 0 auto;
			background-color: white;
		}
/*		 body{
        display: flex;
        flex-flow: column nowrap;
    }	*/
		/*header相关*/
		#header{
			height: 60px;
			background-color: red;
		}
		#header_main{
			display: flex;
			justify-content: space-between;
		}
		.a{
			height: 100%;
			width: 13%;
			background-color: black;
		}
		.logo{

			height: 100%;
			width: 15%;
			background-color: black;
		}

		/*container相关*/
		#container{
			height: 800px;
			background-color: yellow;
		}
		#container_main{
			position: relative;
		}
				/*others部分*/
		.others{
			height: 25%;
			width: 70%;
			display: relative;
			margin: 10px auto;
			background-color: black;
		}

		/*footer相关*/
		#footer{
			height: 150px;
			background-color: green;
		}

		
		