@charset "utf-8";
/* CSS Document */
.red {
	background-color: red;
}
.yellow {
	background-color: yellow;
}
.blue {
	background-color: blue;
}
.orange {
    background-color: orange;
}
.green {
    background-color: green;
}
.cyan {
    background-color: cyan;
}
.purple {
    background-color: purple;
}
.pink {
    background-color: pink;
}
.skyblue {
    background-color: skyblue;
}
.black {
    background-color: black;
}
.whitesmoke {
    background-color: whitesmoke;
}
.white {
	background-color: white;
}
.brown {
	background-color: brown;
}